<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidprojects.inventaireii" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityPopupOkCancel"
            android:label="@string/title_activity_popup_ok_cancel" >
        </activity>
        <activity
            android:name=".MyProducts"
            android:label="@string/my_products"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".Product"
            android:label="@string/title_activity_product"
            android:parentActivityName=".MyProducts">
        </activity>
        <activity
            android:name=".ProductNewOrModify"
            android:label="@string/title_activity_product_new_or_modify"
            android:parentActivityName=".Product">
        </activity>

        <activity
            android:name=".MyCategories"
            android:label="@string/title_activity_my_categories"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity
            android:name=".Category"
            android:label="@string/category_short"
            android:parentActivityName=".MyCategories"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".MyWarehouses"
            android:label="@string/title_activity_my_warehouses"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".Warehouse"
            android:label="@string/warehouse"
            android:parentActivityName=".MyWarehouses">
        </activity>
        <activity android:name=".NewWarehouse"
            android:label="@string/title_activity_new_warehouse">
        </activity>

        <activity android:name=".WarehouseModify"
            android:label="@string/warehouse_modification">
        </activity>
        <activity android:name=".WarehouseStock"
            android:label="@string/warehouse_stock"
            android:parentActivityName=".Warehouse"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".StockNewOrModify"
            android:label="@string/title_activity_stock_new_or_modify"
            android:parentActivityName=".Product">
        </activity>

        <activity
            android:name=".SearchActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>


            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

    </application>

</manifest>
